<div class="problem-description">
  <form class="example-form" [formGroup]="rForm" (ngSubmit)="resetPassword(rForm.value)">
    <mat-card>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="usernameOrEmail">
            <mat-error *ngIf="usernameOrEmail.hasError('email') && !usernameOrEmail.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="usernameOrEmail.hasError('required')">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          Please enter your email above to get the reset password url in you email
        </tr>
        <tr>
          <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.valid">Submit</button>
        </tr>
      </table>
    </mat-card>
  </form>
</div>
