<div class="problem-description">
  <form class="example-form" [formGroup]="rForm" (ngSubmit)="login(rForm.value)">
    <mat-card>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [formControl]="usernameOrEmail">
            <mat-error *ngIf="usernameOrEmail.hasError('email') && !usernameOrEmail.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="usernameOrEmail.hasError('required')">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input autocomplete="" matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field> 
        </tr>
        <tr>
          <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.valid">Login</button>
        </tr>
      </table>
    </mat-card>
  </form>
</div>
