<div class="problem-description">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
        <h1>{{title}}</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          <strong>Source:</strong>
          <span>{{source}}</span>;
          <strong>Number:</strong>
          <span>{{number}}</span>;
          <strong>Type:</strong>
          <span>{{type}}</span>
        </p>
        <p>
          <strong>Difficulty:</strong>
          <span>{{difficulty}}</span>;
          <strong>Topics:</strong>
          <span>{{tags}}</span>;
        </p>
        <p>
          <strong>Companies:</strong>
          <span>{{companies}}</span>;
          <strong>Tags:</strong>
          <span>{{specialTags}}</span>
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-ngx-editor [config]="editorConfig" [spellcheck]="true" [ngModel]="description"></app-ngx-editor>
    </mat-card-content>
  </mat-card>

  <br>

  <form [formGroup]="rForm" (ngSubmit)="addOrUpdateProblem(rForm.value)">    
    <mat-form-field>
      <mat-select placeholder="Solution Language" class="example-full-width" 
                  formControlName="solution_language" (change)="languageSelectionChange($event)">
        <mat-option *ngFor="let language of languageOptions" [value]="language.value">
          {{ language.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>  
    <br>
    <mat-tab-group backgroundColor="primary">
      <mat-tab label="Solution">
        <mat-card>
          <ace-editor formControlName="solution" [mode]="'java'" #editor1 style="height:300px;"></ace-editor>
        </mat-card>
      </mat-tab>
      <mat-tab label="Hint">
        <mat-card>
          <mat-form-field class="example-full-width">
            <textarea class="example-full-width" matInput placeholder="Note" formControlName="note"></textarea>
          </mat-form-field>
        </mat-card>
      </mat-tab>
      <mat-tab label="Answer">
        <mat-card>
          <ace-editor formControlName="answer" [mode]="'java'" #editor style="height:300px;">
          </ace-editor>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-slider min="1" max="5" step="0.5" value="familiarity" formControlName="familiarity" (input)="familiarityChange($event)"></mat-slider>
    {{familiarityText}}
    <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.valid">
      Save all changes
    </button>
    <input matInput placeholder="Problem Id" formControlName="id" hidden readonly>
  </form>
  <br>
</div>
