<div class="problem-description">
  <form class="example-form" [formGroup]="rForm" (ngSubmit)="signup(rForm.value)">
    <mat-card>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <mat-form-field class="example-full-width">
            <input autocomplete='email' matInput placeholder="Email" [formControl]="email">
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
            <mat-form-field class="example-full-width">
              <input autocomplete='firstName' matInput placeholder="First Name" [formControl]="firstName">
              <mat-error *ngIf="firstName.hasError('required')">
                  Please enter your first name here
              </mat-error>
            </mat-form-field>
        </tr>
        <tr>
            <mat-form-field class="example-full-width">
              <input autocomplete='lastName' matInput placeholder="Last Name" [formControl]="lastName">
              <mat-error *ngIf="lastName.hasError('required')">
                  Please enter your last name here
              </mat-error>
            </mat-form-field>
        </tr>
        <tr>
          <mat-form-field class="example-full-width">
            <input autocomplete="password" matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
              Password is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </tr>
        <tr>
            <mat-form-field class="example-full-width">
              <input autocomplete="confirmPassword" matInput placeholder="Confirm password" [formControl]="confirmPassword" [type]="hide ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="confirmPassword.hasError('required')">
                  Password is
                  <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="confirmPassword.hasError('MatchPassword')">
                Please make sure passwords are
                <strong>matched</strong>
              </mat-error>
            </mat-form-field>
        </tr>
        <tr>
          <button mat-raised-button color="primary" type="submit" [disabled]="!rForm.valid">Sign up</button>
        </tr>
      </table>
    </mat-card>
  </form>
</div>
