<div class="editor block">
  <app-ngx-editor [config]="editorConfig" [spellcheck]="true" [(ngModel)]="htmlContent"></app-ngx-editor>
</div>

<div *ngIf="htmlContent" class="htmlblock block">
  <h6>HTML Output</h6>
  <div class="html">
    {{ htmlContent }}
  </div>
</div>

<div class="editor block">
  <ace-editor [(ngModel)]="solution" [mode]="'java'" #editor style="height:300px;"></ace-editor>
</div>

<div *ngIf="htmlContent" class="htmlblock block">
  <h6>HTML Output</h6>
  <div class="html">
    {{ solution }}
  </div>
</div>

<button mat-raised-button color="primary" (click) = "showSuccess()">Click me</button>