  .problem-list-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 900px;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .problem-list-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
  }

  .advanced-search-header {
    display: flex;
    padding: 8px 0px 20px 60px;
    justify-content: space-between center;
  }
  
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-left: 32px;
  }
  
  .mat-table {
    overflow: auto;
  }
  
  .mat-input-element {
    width: 80%;
    margin-right: 10px;
  }
  
  .mdl-button {
    margin-left: 300px;
  }

  .mat-column-Source {
    flex: 0 0 100px;
  }

  .mat-column-Title {
    flex: 0 0 300px;
  }

  .mat-column-Number {
    flex: 0 0 100px;
  }

  .mat-column-Difficulty {
    flex: 0 0 100px;
  }

  .mat-column-Action {
    flex: 0 0 260px;
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-row button {
    margin-right: 8px;
  }
